Assignment_1/__pycache__/
Assignment_1/Problem_1/__pycache__/
Assignment_1/Problem_2/__pycache__/ 
Assignment_1/Problem_3/__pycache__/ 
Assignment_1/Problem_4/__pycache__/

Assignment_2/__pycache__/
Assignment_2/Problem_1/__pycache__/
Assignment_2/Problem_2/__pycache__/ 
Assignment_2/Problem_3/__pycache__/ 
Assignment_2/Problem_4/__pycache__/

Assignment_2/venv